@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#root {
  height: 100%;
}

html {
  background-color: white;
}

<html>
<head>
<link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway">
<style>
.css-selector {
font-family: 'Raleway', serif;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin-top: 70px;
}

</style>
</head>
</html>

header {
  height: 100px;
  width: 100%;
}

main {
  height: 100%;
}


.css-selector {
font-family: 'Raleway', serif;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-style: black;
  color: white;
}

.links-div {
  margin: auto;
  margin-right: 0px;
  display: flex;
}

.links-div-link-div {
  margin: auto;
  margin-right: 15px;
}

.links-div-link {
  font-size: 16px;
  padding: 20px 25px;
  transition-duration: .2s;
}

.links-div-link:hover {

}

.links-div-login-link {
  font-size: 20px;
  padding: 7px 10px;
  transition-duration: .2s;
  background-color: lightblue;
  border-radius: 10px;
}

.links-div-login-link:hover {
  background-color: white;
  color: black;
}


.slogan {
  font-size: 40px;
  font-weight: black;
  color: #303030;
  padding-top: 25px;
  margin-bottom: 10px;
}

.slogan-under {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  font-size: 18px;
}

.home-img {
  width: 65vw;
  max-width: 575px;
}

.symbol {
  padding: 0px;
  height: 32px;
  margin-top: 4px;
  margin-right: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  border-color: lightgrey;
}

.symbol:hover {
  border-color: lightgrey;
  background-color: #efefef;
  filter: brightness(85%) sepia(89%) hue-rotate(-7deg);
}

.profile-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10%;
}

.profile-img-head {
  margin-top: 0px;
  max-height: 34px;
  vertical-align: middle;
  border-radius: 5px;
}

.profile-div {
  margin-top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px;
  height: 100%;
}

a.header-link {
  height: 100%;
}

.grey {
  background-color: #efefef;
  padding: 1px;
  padding-bottom: 1.5px;
  border-radius: 5px;
}

.grey:hover {
  background-color: rgb(248, 199, 5, 0.8);
}

.profile-top-right-name {
  color: #4d4d4d;
  text-decoration: none;
  float: right;
  margin: 5px;
  margin-top: 6px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
}

.chat-list {
  width: 22.5%;
  height: calc(100vh - 65px);
  overflow-y: auto;
  overflow-x: visible;
  scrollbar-width: none;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 1px 0px 0px;
  padding-left: 10px;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.chat-list-title {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
}

.chat-list-item {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 0px;
}

.chat-list-item-active {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 10px;
}

.chat-list-item-text {
  text-align: left;
  margin: auto;
  margin-left: 12px;
  max-width: 75%;
}

.chat-list-item-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chat-list-item-name {
  font-size: 16px;
  color: black;
  margin: 0px;
  padding: 0px;
}

.chat-list-item-name-unread {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.chat-list-item-message {
  font-size: 14px;
  color: #999999;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}

.chat-list-item-message-unread {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}

.chat-focus {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.chat-focus-top {
  display: flex;
  padding: 10px;
  align-items: center;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 10px;
}

.chat-focus-top-text {
  text-align: left;
  margin-left: 12px;
  margin-bottom: 0px;
  align-items: center;
}

.chat-focus-top-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;

}

.chat-focus-top-desc {
  font-size: 14px;
  color: #999999;
  margin: 0px;
}

.chat-focus-top-profile {
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chat-focus-messages::-webkit-scrollbar {
  display: none;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
}

.chat-focus-messages {
  overflow: scroll;
  scrollbar-width: none;  /* Firefox */
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
}

.chat-focus-bottom {
  width: 100%;
}

.chat-focus-bottom-left-outer {
  text-align: left;
}

.chat-focus-bottom-right-outer {
  text-align: right;
}

.chat-focus-bottom-left {
  display: inline-block;
  text-align: left;
  background-color: rgb(254, 240, 186);
  margin: 1px;
  margin-left: 10px;
  border-radius: 13px;
}

.chat-focus-bottom-right {
  display: inline-block;
  text-align: right;
  background-color: #0e9ef1;
  margin: 1px;
  margin-right: 10px;
  border-radius: 13px;

}

.chat-focus-bottom-message-left {
  margin: 0px;
  padding: 7px 12px 7px 12px;;
  font-size: 15px;
  word-wrap: break-word;
  max-width: 25vw;
}

.chat-focus-bottom-message-right {
  margin: 0px;
  padding: 7px 12px 7px 12px;;
  font-size: 15px;
  color: white;
  word-wrap: break-word;
  max-width: 25vw;
  text-align: left;
}

.chat-focus-type {
  width: 97.5%;
  text-align: center;
  vertical-align: bottom;
  align-self: center;
  padding-right: 8px;
  padding-top: 10px;
}

.chat-focus-type-input {
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  text-indent: 8px;
  padding: 8px;
  padding-right: 0px;
  border-style: solid;
  border-color: darkgrey;
  border-width: 0px;
  background-color: #f2f2f2;
  color: black;
}

.chat-focus-type-input::placeholder {
  color: grey;
  opacity: 0.8; /* Firefox */
}

.chat-suggestions-div {
  scrollbar-width: thin;
  width: 22.5%;
  max-height: calc(100vh - 75px);
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 0px 0px 1px;
  overflow-y: auto;
}

.chat-suggestion-img {
  width: 97%;
  margin: auto;
}

.horizontal {
  display: flex;
}

.horizontal-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.horizontal-center {
  display: flex;
  margin: auto;
  justify-content: center;
}

.footer-toast {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  bottom: 0px;
  height: 45px;
  width: 100%;
}

.toast {
  background-color: #d6f5d6;
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.toast-red {
  background-color: #ffcccc;
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.profile-left {
  margin: 30px;
  vertical-align: middle;
  text-align: center;
}

.profile-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 5px;
  width: 25%;
}

.friends {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.profile-container {
  display: flex;
}

.profile-friends-title {
  font-size: 24px;
  color: grey;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 5px;
}

.profile-friends-count {
  margin: 5px;
  margin-left: 1px;
  margin-bottom: 0px;
  text-align: left;
}

.profile-property-title {
  font-size: 14px;
  color: darkgrey;
  text-align: left;
  margin: 5px;
  margin-bottom: 2px;
  margin-left: 1px;
}

.title {
  margin: auto;
  margin-left: 0px;
  padding: 0px;
  font-size: 30px;
  font-style: bold;
  color: rgb(248, 199, 5);
}

.title-img {
  vertical-align: middle;
  max-height: 70px;
}

.question-title {
  font-size: 20px;
}

.question-div {
  width: 21.5vw;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.info-footer {
  margin: 0px;
  background-color: rgb(185, 185, 185);
  font-size: 13px;
  width: 100%;
  height: 25vh;
}

.home-div {
  padding: 0px;
  height: 100%;
}

/* Summary: Background to the home screen */
.home-bg {
  padding-top: 50px;
  background-image: url("homeBackground.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  height: 100%;
  display: flex;
  align-items: center;
}

.home-text {
  background-color: rgba(255, 255, 255, 0.9);
  width: 35%;
  height: auto;
  vertical-align: middle;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home-buttons {
  margin: 10px;
  text-align: left;
  margin-top: auto;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: white;
  color: #7FBBB9;
  padding: 8px 16px;
  border: 1px solid #7FBBB9;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.home-buttons:hover {
  background-color: #C7E1E0;
  border: 1px solid #C7E1E0;
  color: #7FBBB9;
}

.footer-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0px auto;
}

.footer-column {
  margin: 30px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
}

.footer-column-title {
  font-size: 20px;
  margin: 5px;
}

.footer-column-links {
  margin: 5px;
}

ul {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

ul li {
  list-style:none;
  margin:0 5px;
}

ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fa {
  color:#fff;
}

ul li:hover span {
  color:#fff;
}

ul li:hover:nth-child(1) a{
  background: #3b5998;
}
ul li:hover:nth-child(1) a:before{
  background: #365492;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

ul li:hover:nth-child(2) a{
  background: #00aced;
}
ul li:hover:nth-child(2) a:before{
  background: #097aa5;
}
ul li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

ul li:hover:nth-child(3) a{
  background: #dd4b39;
}
ul li:hover:nth-child(3) a:before{
  background: #b33a2b;
}
ul li:hover:nth-child(3) a:after{
  background: #e66a5a;
}

ul li:hover:nth-child(4) a{
  background: #e4405f;
}
ul li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
ul li:hover:nth-child(4) a:after{
  background: #e46880;
}

footer {
  width: 100%;
  background-color: white;
  display: flex;
}

nav {
  margin: 10px;
  margin-left: 20px;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 5px;
  width: 100%;
}

progress::-webkit-progress-value {
  background: #0e9ef1;
}

progress::-moz-progress-bar {
  background: #0e9ef1;
}

progress::-webkit-progress-bar {
  background: lightgrey;
}

h3 {

}

h2 {
  color: grey;
  margin: 10px;
}

h1 {
  color: grey;
}

p {
  word-wrap: break-word;
}
