#root {
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

header {
  height: 100%;
}

main {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6ec5f7;
  font-size: 20px;
}

.profile-img {
  max-width: 200px;
  max-height: 200px;
}

h2 {
  color: grey;
  margin-bottom: 0px;
}

h1 {
  color: grey;
}

p {
  word-wrap: break-word;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
*/
