h1 {
  margin:0;
}

.top {
  /*background-color: #BBE4FB;*/
  overflow:hidden;
}

.top-child {
  float: left;
}

.top-child-right {
}

.button-div {
  float: right;
  margin-top: 10px;
}

a {
  margin: 14px;
  color: #d7ba28;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
}

button {
  color: #4d4d4d;
  background-color: #e7f5fe;
  border: 0px solid #e7f5fe;
  border-radius: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px 12px;
  font-size: 16px;
}

button:hover {
  background: #cfecfc;
  color: black;
}